.page-map, .ui-content, #map-canvas {
	/*height: 100%;*/
	/*width: 100%;*/
}
#map-canvas {
	/*height: min-height: 100%; width:100%*/
	min-height: 300px;
	width: 100%;
}

table td.stop_time{
	text-align:center;
	width: 50px;
}

#mapPage .ui-content{
	padding: 0;
}

#timetables{
	overflow:scroll;
	overflow-y:hidden;
}

.ui-controlgroup-controls
{
    width:100%;
}
.ui-radio {
    width:50%;
}

.ui-li-static.ui-li {
	padding: 10px 15px 1px 15px
}

table {
    color: black;
    
    border: 1px solid white;
    padding: 0;
    margin-top:10px;
    width: 100%;
}
     
table tr td {
    color: white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
         
table tr td:last-child {
    border-right: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}