body {
  color:#333333;
  font-family: Geneva, Arial, Helvetica, sans-serif;
	background: url(fond.gif) fixed;
	font-size: 0.7em;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	border: 2px dashed #000000;
	background-color: #E9F6FE;
	
}

h1{
  padding: 0 10px 0 10px;
  margin: 0;
  background-color: #3592D3;
  background-repeat:no-repeat;
  background-position: 96% 100%;
  font-size: 16px;
  color: white;
}

#page {
	background-color: #E9F6FE;;
}

#header {
  width: 850px;
	height: 150px;
	border-bottom : 1px solid #666666;
	background : #ffffff url(logo.gif) no-repeat left top;
}

/* ##### Main Menu ##### */
#menu-webpage ul{
	height: 35px ;
	margin: 0 ;
	padding: 0 ;
	background: url(bg_menu2.gif) repeat-x 0 -25px ;
	list-style-type: none ;
	width: 100%;
	font-size: 10pt;
	margin-bottom: 20px;
}

#menu-webpage ul li{
	float: left ;
	text-align: center ;
}

#menu-webpage ul li a{
  padding: 0 15px 0 15px;
	line-height: 25px ;
	font-size: 1em ;
	font-weight: bold ;
	color: #fff ;
	display: block ;
	text-decoration: none ;
	border-right: 2px solid #006699 ;
}

#menu-webpage ul li:first-child a{
  border-left: 30px solid #0077AA ;
  /*background-color: #006699;*/
}


#menu-webpage li a:hover, nav#menu-webpage li a.selected{
	background: url(bg_menu2.gif) repeat-x 0 0 ;
}

/*.pdf{
  background: url(ico_pdf.gif) no-repeat;
  width: 50px;
  height:50px;
  right: 0;
  display: relative;
}*/


/* ##### CV personal area #####*/
#cv-about-me-personal{
  float: left;
  width: 180px;
}

#cv-about-me-personal .box{
  border-style:solid;
  border-color: #3592D3;
  border-width:1px;
  margin: 0 10px 10px 10px;
  display: block;
  background-color: white;
}

#cv-about-me-personal .box-inside{
  padding: 10px;
}


/* ### me ### */
#personal-details h1{
  background-image:url(cv_personal-details.png);
}

#personal-details ul{
  margin: 0;
	padding: 0;
	list-style-type: none ;
}

#personal-details #photo ul{
  float: left;
}

#personal-details #photo img{
  margin-right: 7px;
  float: left;
}

#personal-details #contact{
  padding-top: 5px;
  clear:both;
}

#personal-details #contact #phone, #personal-details #contact #email{
  background: url(cv_email4.png) no-repeat left;
  padding-left: 20px;
}

#personal-details #contact .pdf{
  background: url(ico_pdf.png) no-repeat left;
  padding-left: 20px;
}

#personal-details #contact .pdf a{
  color: black;
}

#personal-details #contact #phone{
  background: url(cv_phone.png) no-repeat left;
  padding-left: 20px;
}

#personal-details #contact #email{
  cursor: pointer;
  text-decoration: underline;
}

.tab-panel{
  border-style:solid;
  border-color: #3592D3;
  border-width:1px;
}

/* ### languages & hobbies ### */
#language h1{
  background-image:url(cv_language.png);
  background-position: 96% 10%;
}

#language ul, #hobbies ul{
  margin: 10px ;
	padding: 0 ;
	list-style-type: none ;
}

#language ul li, #hobbies ul li{
  padding: 5px;
  display: block;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left;
}

#language ul li.spanish{
  background-image: url(flag_spain_24_bw.png);
}
#language ul li.spanish:hover{
  background-image: url(flag_spain_24.png);
}
#language ul li.french{
  background-image: url(flag_france_24_bw.png);
}
#language ul li.french:hover{
  background-image: url(flag_france_24.png);
}
#language ul li.german{
  background-image: url(flag_germany_24_bw.png);
}
#language ul li.german:hover{
  background-image: url(flag_germany_24.png);
}
#language ul li.english{
  background-image: url(flag_usa_24_bw.png);
}
#language ul li.english:hover{
  background-image: url(flag_usa_24.png);
}

#hobbies ul li.running{
  background-image: url(cv_running.gif);
}

#hobbies ul li.travelling{
  background-image: url(cv_travelling2.png);
}

#hobbies ul li.music{
  background-image: url(cv_music_bw.gif);
}
#hobbies ul li.music:hover{
  background-image: url(cv_music.gif);
}



/* ##### CV professional area ##### */
#cv-about-me-professional{
  margin-left: 180px;
  margin-right: 10px; 
  padding-bottom: 10px;
}

#cv-about-me-professional .bloc{
  background-color: white;
}

/* ### menu CV ### */

#menu-cv ul{
	height: 25px ;
	margin: 0 ;
	padding: 0 ;
	list-style-type: none ;
	width: 100%;
}

#menu-cv ul li{
	float: left ;
	text-align: center ;
	height: 100%;
	background-color: #3592D3;
	margin-right: 1px;
	background-repeat:no-repeat;
  background-position: 95% 100%;
  
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
}

#menu-cv ul li a{
  padding: 0 45px 0 15px;
	line-height: 27px ;
	color: #fff ;
	text-decoration: none ;
}

#menu-cv ul li:hover, #menu-cv ul li.selected{
  background-color: #1371A0;
}

#menu-cv ul li a{
  height: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-bottom: -13px;
  padding-bottom: 13px;
}

#menu-cv ul li:hover a, #menu-cv ul li a.selected{
  
  background-image:url(tab-arrow-hover.gif);
}

#menu-cv ul li.title-education{
  background-image:url(cv_education.png);
}

#menu-cv ul li.title-experience{
  background-image:url(cv_experience.png);
}

#menu-cv ul li.title-projects{
  background-image:url(cv_projects.png);
}

#menu-cv ul li.title-skills{
  background-image:url(cv_skills.png);
}


/* ##### footer ##### */
#footer{
  padding: 5px;
  clear: both;

  text-align: center;

  color: #B3B3B3; 
}


/* ### content CV ### */

.bloc{
  color: #3592D3;//#999;
}

.title{
  font-size: 13px;
  color: #1371A0;
  //font-weight:bold;
}

.date, #skills .cat{
  vertical-align: top; 
  width: 140px;
  padding-top: 20px;
}

#skills .cat{
  padding: 0;
}


.content{
  color: black; //#666;
  /*background-image:url(logo_apple.gif);
  background-position: bottom right;
  background-repeat: no-repeat;*/
  //position: relative;
}

.content ul{
  margin: 5px 0 5px 0;
  padding: 0 0 0 30px;
}

.content ul li{
  margin: 2px 0 2px 0;
}

.logo{
  padding-top: 10px;
  float: right;
}

.location{
  font-size: 11px;
  float: right;
}

.row-space{
  height: 10px;
  width: 100%;
}


/* ##### tooltip ##### */
span.tool {
  position: relative;
  cursor: help;
  border-bottom: 1px dashed #000; 
}
 
span.tool span.tip {
  display: none;        /* so is this */
}

span.tool:hover span.tip {
  display: block;
  z-index: 100;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: auto;
  padding: 3px 7px 4px 6px;
  border: 1px solid #336;
  background-color: #f7f7ee;
  font: normal 0.9em/1.2em arial, helvetica, sans-serif;
  text-align: left;
  color: #000;
  
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}



/* ##### popup ##### */
#overlay {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;

    background-color: black;
    opacity: "0.7";
}
 
.popup{
    display: none;
    color: black;
    position: fixed;
    left: 25%;
    top: 10%;
    width: 50%;
    z-index: 20;
    background-color: white;
    border: 1px solid black;
    
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.popup h1{
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
}

.popup form{
   padding: 10px;
}

.popup label{
  display:block;
  width:150px;
  float:left;
}
 
.popup-close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;

}












